@keyframes suspended{
    0% {background-color:black;}
    50% {background-color:yellow;}
    100% {background-color:black;}
}
@keyframes normalRedModeNS{
    0% {background-color:red;}
    49% {background-color:red;}
    50% {background-color:black;}
    100% {background-color:black;}
}
@keyframes normalYellowModeNS{
    0% {background-color:black;}
    39% {background-color:black;}
    40% {background-color:yellow;}
    49% {background-color:yellow;}
    50% {background-color:black;}
    89% {background-color:black;}
    90% {background-color:yellow;}
    100% {background-color:yellow;}
}
@keyframes normalGreenModeNS{
    0% {background-color:black;}
    49% {background-color:black;}
    50% {background-color:green;}
    89% {background-color:green;}
    90% {background-color:black;}
    100% {background-color:black;}
}
@keyframes normalRedModeWE{
    0% {background-color:black;}
    49% {background-color:black;}
    50% {background-color:red;}
    100% {background-color:red;}
}
@keyframes normalYellowModeWE{
    0% {background-color:black;}
    39% {background-color:black;}
    40% {background-color:yellow;}
    49% {background-color:yellow;}
    50% {background-color:black;}
    89% {background-color:black;}
    90% {background-color:yellow;}
    100% {background-color:yellow;}
}
@keyframes normalGreenModeWE{
    0% {background-color:green;}
    39% {background-color:green;}
    40% {background-color:black;}
    100% {background-color:black;}
}
body{
    background-image: url("pool_table.png");
    color: white;
    
        padding-top: 10px;
    .main{
        position: relative;
        margin: auto;
        height: 600px;
        width: 800px;
        @mixin lightBox($width, $height, $top, $left){
            background-image: url("blackorchid.png");
            position: absolute;
            width: $width;
            height: $height;
            top: $top;
            left: $left;
        }
        @mixin light{
            width: 20px;
            height: 20px;
            border-radius: 50px;
            background-color: black;
            margin: 5px;
        }
        .vertical{
            position: absolute;
            left: 350px;
            height: 100%;
            width: 100px;
            background-image: url("dark_wall.png");
        }
        .horizontal{
            position: absolute;
            top: 250px;
            height: 100px;
            width: 95%;
            background-image: url("dark_wall.png");
        }
        .box1{
            @include lightBox(30px, 80px, 150px, 300px);
            .light{
                @include light;
            }
            .red{
                background-color: red;
            }
            .green{
                background-color: green;
            }
            .yellow{
                background-color: yellow;
            }
        }
        .box2{
            @include lightBox(90px, 30px, 200px, 470px);
            .light{
                @include light;
                float: left;
            }
            .red{
                background-color: red;
            }
            .green{
                background-color: green;
            }
            .yellow{
                background-color: yellow;
            }
        }
        .box3{
            @include lightBox(30px, 80px, 370px, 470px);
            .light{
                @include light;
            }
            .red{
                background-color: red;
            }
            .green{
                background-color: green;
            }
            .yellow{
                background-color: yellow;
            }
        }
        .box4{
            @include lightBox(90px, 30px, 370px, 240px);
            .light{
                @include light;
                float: left
            }
            .red{
                background-color: red;
            }
            .green{
                background-color: green;
            }
            .yellow{
                background-color: yellow;
            }
        }
        .yellowBlink{
            animation: suspended 1s infinite;
        }
    }
    .side{
        color: black;
        background-image: url("knitted-netting.png");
        input[type="text"] {
            width: 120px;
        }
    }
    .button{
        display: block;
        width: 100%;
        margin: 5px;
        color: black;
    }
    .NorthSouth{
        color: white;
        background-color: black;
    }
}