@keyframes suspended {
  0% {
    background-color: black; }
  50% {
    background-color: yellow; }
  100% {
    background-color: black; } }
@keyframes normalRedModeNS {
  0% {
    background-color: red; }
  49% {
    background-color: red; }
  50% {
    background-color: black; }
  100% {
    background-color: black; } }
@keyframes normalYellowModeNS {
  0% {
    background-color: black; }
  39% {
    background-color: black; }
  40% {
    background-color: yellow; }
  49% {
    background-color: yellow; }
  50% {
    background-color: black; }
  89% {
    background-color: black; }
  90% {
    background-color: yellow; }
  100% {
    background-color: yellow; } }
@keyframes normalGreenModeNS {
  0% {
    background-color: black; }
  49% {
    background-color: black; }
  50% {
    background-color: green; }
  89% {
    background-color: green; }
  90% {
    background-color: black; }
  100% {
    background-color: black; } }
@keyframes normalRedModeWE {
  0% {
    background-color: black; }
  49% {
    background-color: black; }
  50% {
    background-color: red; }
  100% {
    background-color: red; } }
@keyframes normalYellowModeWE {
  0% {
    background-color: black; }
  39% {
    background-color: black; }
  40% {
    background-color: yellow; }
  49% {
    background-color: yellow; }
  50% {
    background-color: black; }
  89% {
    background-color: black; }
  90% {
    background-color: yellow; }
  100% {
    background-color: yellow; } }
@keyframes normalGreenModeWE {
  0% {
    background-color: green; }
  39% {
    background-color: green; }
  40% {
    background-color: black; }
  100% {
    background-color: black; } }
body {
  background-image: url("pool_table.png");
  color: white;
  padding-top: 10px; }
  body .main {
    position: relative;
    margin: auto;
    height: 600px;
    width: 800px; }
    body .main .vertical {
      position: absolute;
      left: 350px;
      height: 100%;
      width: 100px;
      background-image: url("dark_wall.png"); }
    body .main .horizontal {
      position: absolute;
      top: 250px;
      height: 100px;
      width: 95%;
      background-image: url("dark_wall.png"); }
    body .main .box1 {
      background-image: url("blackorchid.png");
      position: absolute;
      width: 30px;
      height: 80px;
      top: 150px;
      left: 300px; }
      body .main .box1 .light {
        width: 20px;
        height: 20px;
        border-radius: 50px;
        background-color: black;
        margin: 5px; }
      body .main .box1 .red {
        background-color: red; }
      body .main .box1 .green {
        background-color: green; }
      body .main .box1 .yellow {
        background-color: yellow; }
    body .main .box2 {
      background-image: url("blackorchid.png");
      position: absolute;
      width: 90px;
      height: 30px;
      top: 200px;
      left: 470px; }
      body .main .box2 .light {
        width: 20px;
        height: 20px;
        border-radius: 50px;
        background-color: black;
        margin: 5px;
        float: left; }
      body .main .box2 .red {
        background-color: red; }
      body .main .box2 .green {
        background-color: green; }
      body .main .box2 .yellow {
        background-color: yellow; }
    body .main .box3 {
      background-image: url("blackorchid.png");
      position: absolute;
      width: 30px;
      height: 80px;
      top: 370px;
      left: 470px; }
      body .main .box3 .light {
        width: 20px;
        height: 20px;
        border-radius: 50px;
        background-color: black;
        margin: 5px; }
      body .main .box3 .red {
        background-color: red; }
      body .main .box3 .green {
        background-color: green; }
      body .main .box3 .yellow {
        background-color: yellow; }
    body .main .box4 {
      background-image: url("blackorchid.png");
      position: absolute;
      width: 90px;
      height: 30px;
      top: 370px;
      left: 240px; }
      body .main .box4 .light {
        width: 20px;
        height: 20px;
        border-radius: 50px;
        background-color: black;
        margin: 5px;
        float: left; }
      body .main .box4 .red {
        background-color: red; }
      body .main .box4 .green {
        background-color: green; }
      body .main .box4 .yellow {
        background-color: yellow; }
    body .main .yellowBlink {
      animation: suspended 1s infinite; }
  body .side {
    color: black;
    background-image: url("knitted-netting.png"); }
    body .side input[type="text"] {
      width: 120px; }
  body .button {
    display: block;
    width: 100%;
    margin: 5px;
    color: black; }
  body .NorthSouth {
    color: white;
    background-color: black; }

/*# sourceMappingURL=style.css.map */
